@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body,
html {
  background: #fff;
  margin-bottom: 50px;
}

/* Headings */
h1 {
  text-align: center;
  color: black;
  margin-bottom: 50px;
}

h2,
h3,
h4 {
  text-align: center;
  color: black;
  margin-bottom: 50px;
}

/* Paragraphs */
p {
  text-align: center;
  color: black;
  font-weight: normal;
  margin-bottom: 50px;
  font-size: 18px;
}

/* Responsive margins for paragraphs */
@media (max-width: 768px) {
  p {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  p {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 992px) {
  p {
    margin-left: 100px;
    margin-right: 100px;
  }
}

/* Links */
a {
  color: #fff;
  text-decoration: none;
}

/* Container and columns */
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.column {
  flex: 1;
}

/* Responsive margins for columns */
@media (max-width: 768px) {
  .left-column,
  .right-column {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .left-column,
  .right-column {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 992px) {
  .left-column {
    margin-left: 200px;
    margin-right: 10px;
  }
  .right-column {
    margin-left: 10px;
    margin-right: 200px;
  }
}

/* Unordered lists */
ul {
  list-style-type: none;
  text-align: center;
  color: black;
}

/* Button container and styles */
.btn-container {
  justify-content: center;
  display: flex;
}

.btn {
  padding: 12px 32px;
  margin-right: 20px;
  margin-bottom: 50px;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  background: gray;
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}
